body {
    margin: 0;
    height:100%;
    background-color: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header {
    width: 100vw;
    display:flex;
    justify-content: center;
    padding: 15px;
    background-color: coral;
    color:white;
    font-size: 20px;
}

.options {
    width:100vw;
    display:flex;
    justify-content: space-evenly;
    padding: 15px;
}

.options__btn {
    background-color: orange;
    border: none;
    border-radius: 10px;
    color:white;
}


.todos {
    padding: 10px;
    margin-bottom: 20px;
    width:100vw;
    display:flex;
    justify-content: space-evenly;
}

.todos__today,
.todos__tommorow {
    border: 5px solid khaki;
    width: 0; 
    height: 100%;
    position: relative;
    visibility: hidden;
    transition: all 700ms ease-in-out;
    /* width와 visibility 두 요소를 모두 적용시키기 때문에 all 을 이용 */
}

.todos__today.open,
.todos__tommorow.open {
    width:100%;
    visibility:visible;
}
.todos__header {
    padding:15px;
    display:flex;
    justify-content: center;
    font-size: 30px;
    font-style: inherit;
}

.todos__items {
    padding: 20px 20px;
}

.todos__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

button {
    cursor:pointer;
}

.todos__add {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    margin-bottom: 10px;
}

.todos__add-btn {
    border:none;
    border-radius: 50%;
    background-color: cadetblue;
}

.footer{
    background-color: thistle;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
